.DS_Store
.venv
.vscode/sync/
.env.local

# vim
.vim/.netrwhist
.vim/plugged/
.vim/swaps/
.vim/undo/
.vim/viminfo/

# claude
.claude/*
!.claude/CLAUDE.md
!.claude/CLAUDE.*.md
!.claude/settings.json


# vscode
.vscode/profiles/
