"*":
  "atom-beautify":
    general:
      _analyticsUserId: "b840580d-f474-4605-bf31-6bcc8b71de65"
  "atom-ternjs":
    snippetsFirst: true
    useSnippets: true
    useSnippetsAndFunction: true
  "autocomplete-modules":
    webpack: true
    webpackConfigFilename: "webpack.config*.js"
  "autocomplete-plus":
    suppressActivationForEditorClasses: [
      "vim-mode-plus.normal-mode"
      "vim-mode-plus.visual-mode"
      "vim-mode-plus.operator-pending-mode"
      "vim-mode-plus.insert-mode.replace"
    ]
  autosave:
    enabled: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "jsformat"
      "activate-power-mode"
      "react"
      "nuclide"
      "synced-sidebar"
      "vim-mode-clipboard-plus"
      "markdown-scroll-sync"
      "markdown-preview"
    ]
    packagesWithKeymapsDisabled: [
      "cursor-history"
    ]
    telemetryConsent: "limited"
  "cursor-history":
    flashOnLand: true
  editor:
    autoIndentOnPaste: false
    invisibles: {}
    scrollPastEnd: true
    showInvisibles: true
  "exception-reporting":
    userId: "e1b6dbe9-7236-13b4-cec4-75a356ec01c5"
  "js-hyperclick": {}
  jsformat: {}
  "language-elm":
    elmOraclePath: "/usr/local/bin/elm-oracle"
  linter: {}
  "linter-elm-make":
    elmMakeExecutablePath: "/usr/local/bin/elm-make"
  "linter-eslint":
    fixOnSave: true
  "local-history": {}
  "markdown-preview-plus": {}
  nuclide:
    "nuclide-arcanist": {}
    "nuclide-buck-files": {}
    "nuclide-datatip": {}
    "nuclide-diff-view": {}
    "nuclide-file-tree": {}
    "nuclide-flow": {}
    "nuclide-format-js": {}
    "nuclide-hack": {}
    "nuclide-health": {}
    "nuclide-home":
      showHome: false
    "nuclide-ios-simulator-logs": {}
    "nuclide-ocaml": {}
    "nuclide-output": {}
    "nuclide-working-sets": {}
    use:
      "nuclide-file-tree": false
      "nuclide-side-bar": false
  "one-dark-ui": {}
  "open-recent":
    maxRecentDirectories: 10
  "project-folder":
    gitProjectDirectories: [
      "~/dev"
    ]
    projectRootDirectories: [
      "~/dev"
    ]
  "project-manager": {}
  react: {}
  "spell-check": {}
  "tree-view":
    autoReveal: true
    focusOnReveal: false
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "vim-mode-clipboard-plus":
    useVimModePlus: true
  "vim-mode-plus":
    smoothScrollOnHalfScrollMotion: true
    smoothScrollOnHalfScrollMotionDuration: 200
  welcome:
    showOnStartup: false
".ansi.text":
  editor:
    scrollPastEnd: false
".css.scss.source":
  editor:
    autoIndentOnPaste: true
".sass.source":
  editor:
    autoIndentOnPaste: true
