

# '.settings-view':
#   'cmd-c': 'settings-view:core'
#   'cmd-e': 'settings-view:editor'
#   'cmd-k': 'settings-view:show-keybindings'
#   'cmd-p': 'settings-view:uninstall-packages'
#   'cmd-t': 'settings-view:change-themes'
#   'cmd-u': 'settings-view:check-for-package-updates'
#   'cmd-i': 'settings-view:install-packages-and-themes'

# overwrite in tree view
'.platform-darwin':
  'ctrl-,': 'tree-view:toggle-focus'

'atom-workspace:not([mini])':
  # project-folder
  # -------------------------
  # Privously I liked to add multi related projects in one window.
  # But it messed up the fuzzy finder and find & replace in project.
  # So now I'd like to just open one project in one window.
  # And When I want to open another project, I'll quickly open it
  # by using `project-folder`.
  'cmd-p': 'project-folder:add'


'.platform-darwin .tree-view':
  'cmd-1':	'pane:show-item-1'
  'cmd-2':	'pane:show-item-2'
  'cmd-3':	'pane:show-item-3'
  'cmd-4':	'pane:show-item-4'
  'cmd-5':	'pane:show-item-5'
  'cmd-6':	'pane:show-item-6'
  'cmd-7':	'pane:show-item-7'
  'cmd-8':	'pane:show-item-8'
  'o':      'tree-view:open-selected-entry'

# split window
'body':
  'ctrl-h': 'window:focus-pane-on-left'
  'ctrl-j': 'window:focus-pane-on-down'
  'ctrl-k': 'window:focus-pane-on-up'
  'ctrl-l': 'window:focus-pane-on-right'
  'ctrl-w v': 'pane:split-right-and-move-active-item'
  'ctrl-w s': 'pane:split-down-and-move-active-item'

'.platform-darwin atom-text-editor:not(.mini)':
  'cmd-l': 'linter:next-error'
  'alt-o': 'dash:shortcut'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  # wrapped lines goes down/up to next row, rather than next line in file.
  'j': 'vim-mode-plus:move-down-screen',
  'k': 'vim-mode-plus:move-up-screen',

  # override vim-mode-plus mapping to: `pane:split-right-and-copy-active-item`
  'ctrl-w v': 'pane:split-right-and-move-active-item'
  'ctrl-w s': 'pane:split-down-and-move-active-item'

'atom-text-editor.vim-mode-plus.normal-mode':
  # hyperclick
  'g f':      'hyperclick:confirm-cursor'

  # open-on-github, git-diff: g
  # -------------------------
  'space g o': 'open-on-github:file'
  'space g b': 'open-on-github:blame'
  'space g h': 'open-on-github:history'
  'space g i': 'open-on-github:issues'
  'space g c': 'open-on-github:copy-url'
  'space g r': 'open-on-github:branch-compare'
  'space g g': 'open-on-github:repository'

  'space g n': 'git-diff:move-to-next-diff'
  'space g p': 'git-diff:move-to-previous-diff'
  'space g d': 'git-diff:toggle-diff-list'

  # atom-beautify
  # -------------------------
  'space b': 'atom-beautify:beautify-editor'

  # project-folder
  # -------------------------
  'space p': 'project-folder:add'

  # surround: ys
  # -------------------------
  'S': 'vim-mode-plus:surround-smart-word'
  'd s': 'vim-mode-plus:delete-surround-any-pair'
  'c s': 'vim-mode-plus:change-surround-any-pair'
  'y s': 'vim-mode-plus:surround'
  'y s w': 'vim-mode-plus:surround-word'
  'y s m': 'vim-mode-plus:map-surround'

'atom-text-editor.vim-mode-plus.visual-mode':
  'S': 'vim-mode-plus:surround'


'.platform-darwin atom-text-editor:not([mini])':
  'cmd-shift-v': 'clipboard-plus:toggle'
  'cmd-y': 'clip-history:paste'
  'cmd-shift-y': 'clip-history:paste-newer'
  'ctrl-y': 'clip-history:paste-last'

# '.platform-darwin atom-text-editor.vim-mode-plus:not(.insert-mode)':
  # 'ctrl-p': 'clipboard-plus:toggle'


# cursor-history
# swap keymap since `within editor` is used more frequently by me
'atom-workspace':
  'ctrl-i':   'cursor-history:next-within-editor'
  'ctrl-o':   'cursor-history:prev-within-editor'
  'ctrl-cmd-i': 'cursor-history:next'
  'ctrl-cmd-o': 'cursor-history:prev'
